body {
  heigh:665px;
  background-image: url("https://thumbs.dreamstime.com/b/piso-del-arce-de-la-madera-dura-visto-desde-arriba-102464033.jpg");
  background-size: 10rem;
}

#indice{
    border:2px;
    border-style:rounded;
    background-color: #0067b8;
}

#historia{
    border:2px;
    border-style:rounded;
    background-color: #0067b8;
}

#libertades{
    border:2px;
    border-style:rounded;
    background-color: #0067b8;
}

#tittle{
    border: 4px;
    color:blue;
}

#historia1{
    border: 4px;
    color: #458588;
}

#caracteristicas{
    border: 4px;
    color: #458588;
}

#libertades1{
    border: 4px;
    color: #458588;
}

#copyleft1{
    border: 4px;
    color: #458588;
}

#ventajas1{
    border: 4px;
    color: #458588;
}

.pages {
    font-family: verdana, arial !important;
    border: 4px;
    color:lightseagreen;
}

#configurar_internet {
    font-family: verdana, arial !important;
    border: 4px;
    color:lightseagreen;
}

#configurar_dispositivos{
    font-family: verdana, arial !important;
    border: 4px;
    color:lightseagreen;
}


.caracteristicas {
    border: 4px;
    color:#ebdbb2;
}

.p1{
    border: 4px;
    color:#ebdbb2;
}

#p2{
    border:4px;
    border-style:rounded;
    color:#ebdbb2;
    background-color: #0067b8
}

#windows-button{
    width: 100%;
}

#boton_config{
    width: 100%;
}